.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    margin-top: 20px;
}

.social-btn {
    margin: 10px;
    border-radius: 50%; /* Make buttons circular */
    width: 40px; /* Set a fixed width and height */
    height: 40px;
    display: flex; /* Use flexbox for centering */
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Adjust font size as needed */
    color: white; /* Set text color */
}

.social-btn:hover {
    opacity: 0.8; /* Add a hover effect */
}

.social-btn.instagram {
    background-color: #e4405f; /* Instagram color */
}

.social-btn.facebook {
    background-color: #3b5998; /* Facebook color */
}

.social-btn.youtube {
    background-color: #ff0000; /* YouTube color */
}